{{#if content.length}}
  <ul class="list-group">
    {{#each content}}
      <li class="list-group-item">
        <img style="border-radius: 100%" width="50" src="{{this.author.avatar}}" />
        <span class="badge badge-primary"> {{ this.author.email }} </span>  
        [ 
          <span class="badge badge-success">{{ this.author.date }}</span>  
        ]: {{ this.message }} 
      </li>
    {{/each}}
  </ul>
{{ else }}
  <h4 class="alert alert-warning">No hay mensaje</h4>
{{/if}}